{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper {
      margin: 1em auto;
      /*max-width: 800px;*/
      width: 100%;
      font: 18px/1.5 sans-serif;
      overflow-x: hidden;
    }
</style>

<div class="example-wrapper">
    <pre class="ascii-art">
    ███████╗██╗██╗      ██████╗     ███╗   ███╗ █████╗ ███╗   ██╗ █████╗  ██████╗ ███████╗██████╗
    ██╔════╝██║██║     ██╔═══██╗    ████╗ ████║██╔══██╗████╗  ██║██╔══██╗██╔════╝ ██╔════╝██╔══██╗
    ███████╗██║██║     ██║   ██║    ██╔████╔██║███████║██╔██╗ ██║███████║██║  ███╗█████╗  ██████╔╝
    ╚════██║██║██║     ██║   ██║    ██║╚██╔╝██║██╔══██║██║╚██╗██║██╔══██║██║   ██║██╔══╝  ██╔══██╗
    ███████║██║███████╗╚██████╔╝    ██║ ╚═╝ ██║██║  ██║██║ ╚████║██║  ██║╚██████╔╝███████╗██║  ██║
    ╚══════╝╚═╝╚══════╝ ╚═════╝     ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚═╝  ╚═╝
    </pre>

    <pre class="ascii-art">
                                                                                                             v .   ._, |_  .,
                                                                                                          `-._\/  .  \ /    |/_
                                                                                                              \\  _\, y | \//
                                                                                                         _\_.___\\, \\/ -.\||
                                                                                                          `7-,--.`._||  / / ,
                                                                                                          /'     `-. `./ / |/_.'
                                                                                                                    |    |//
                                                                                                                    |_    /
                                                                                                                    |-   |
                                                                                                                    |   =|
                                                                                                                    |    |
-------------.__________.-----------/‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾\------------------._______________.----------------------/ ,  . \--------.______________________.----------------------------------------.__________.-------------------------------------------------------.__________________.----------------------------.____________________________________.---------------
                                    |                    |
                                    |   [START GAME]     |
                                    |                    |
                                    +--------------------+
                                    |                    |
                                    |   [SETTINGS]       |
                                    |                    |
                                    +--------------------+
                                    |                    |
                                    |   [CREDITS]        |
                                    |                    |
                                    +--------------------+
    </pre>
</div>
{% endblock %}
