{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

    <div class="row">
        <div class="col s12 m12 l12">12</div>

        <div class="col s6 m6 l6">6</div>
        <div class="col s6 m6 l6">6</div>

        <div class="col s3 m3 l3">3</div>
        <div class="col s3 m3 l3">3</div>
        <div class="col s3 m3 l3">3</div>
        <div class="col s3 m3 l3">3</div>

        <div class="col s1 m1 l1">1</div>
        <div class="col s1 m1 l1">1</div>
        <div class="col s1 m1 l1">1</div>
        <div class="col s1 m1 l1">1</div>
        <div class="col s1 m1 l1">1</div>
        <div class="col s1 m1 l1">1</div>
        <div class="col s1 m1 l1">1</div>
        <div class="col s1 m1 l1">1</div>
        <div class="col s1 m1 l1">1</div>
        <div class="col s1 m1 l1">1</div>
        <div class="col s1 m1 l1">1</div>
        <div class="col s1 m1 l1">1</div>
    </div>

    <label class="tui-radio">Default
        <input type="radio" name="group" />
        <span></span>
    </label>
    <label class="tui-radio">Default
        <input type="radio" name="group" />
        <span></span>
    </label>

{% endblock %}
